Makefile.config
config.h
*.o
*.a
*.bin
*.out
*.map
*.log
*.pyc
*.sublime-project
*.sublime-workspace
*.c~
*.h~
*.c.orig
*.h.orig
*.old
keil5/Listings
keil5/Objects
keil5/RTE
keil5/EventRecorderStub.scvd
keil5/blessed.uvguix.andrew

